<div class="alert alert-secondary">
    <a href="/usuarios/login/">
        Iniciar sesion</a>
    &nbsp;&nbsp;
        &nbsp;&nbsp;
    <a href="/usuarios/lista_usuarios/">Listado de usuarios</a>
    &nbsp;&nbsp;
        &nbsp;&nbsp;
    <a href="/usuarios/simon/">Simon
    </a>&nbsp;&nbsp;
        &nbsp;&nbsp;
    <a href="/usuarios/tresenralla/">Tres en ralla
    </a>
    &nbsp;&nbsp;
        &nbsp;&nbsp;
    <a href="/usuarios/tabladepuntos/">Tabla de puntos</a>
    &nbsp;&nbsp;
        &nbsp;&nbsp;
    <button id="btnSalir">Salir</button>
</div>